<div id="table">
  <table class="table">
    <h4>Check out our students!</h4>
    <thead>
      <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Cohort</th>
          <th>Origin City</th>
          <th>Cohort City</th>
          <th>Current City</th>
      </tr>
    </thead>
    <tbody>
      <% @i = 1 %>
        <% @students.each do |student| %>
        <tr>
          <td><%= student.first_name %></td>
          <td><%= student.last_name %></td>
          <td><%= student.cohort_number %></td>
          <td class="origin_city<%= @i%>" ><%= student.origin_city %>, <%= student.origin_state %></td>
          <td class="cohort_city<%= @i%>"><%= student.cohort_city %>, <%= student.cohort_state %></td>
          <td class="current_city<%= @i%>"><%= student.current_city %>, <%= student.current_state %></td>
        </tr>
          <% @i += 1 %>
          <% end %>
    </tbody>
  </table>
</div>
